* {
    text-align: center;
}

header {
    width: 100%;
    position: absolute;
    top: 0%;
}

button {
    position: relative;
    display: inline;
}

nav {

}

.imgFrame {
    margin: 10px solid orange;
    border: 10px solid yellow;
    padding: 10px solid violet;
}

.lowerBox {
    width: 100%
    
}

img {
    height: 200px;
    width: 200px;
    margin: 10px solid green;
    border: 10px solid blue;
    padding: 10px solid red;
}