* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    
}

button {
    position: relative;
    display: inline;
}

nav {
    width: 100%;
    position: absolute;
    top: 0%;
    background-color: royalblue;
}

.imgFrame {
    margin: 10px solid orange;
    border: 10px solid yellow;
    padding: 10px;
    background-color: violet;
}

.lowerBox {
    width: 100%;
    background-color: skyblue;
}

img {
    height: 200px;
    width: 200px;
    margin: 10px solid green;
    border: 10px solid blue;
    padding: 10px;
    background-color: red;
}